In [43]:
import pandas as pd

In [44]:
df = pd.read_excel("2018.xlsx")

In [45]:
df.head(200)

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,5057,6780,1
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),10078,10789,1
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,1649,2592,1
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Female-only (including Supernumerary),4343,4522,1
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,Gender-Neutral,1054,1233,1
...,...,...,...,...,...,...,...,...
195,Indian Institute of Technology Bombay,Energy Engineering with M.Tech. in Energy Syst...,AI,SC,Female-only (including Supernumerary),1589,1589,1
196,Indian Institute of Technology Bombay,Energy Engineering with M.Tech. in Energy Syst...,AI,ST,Gender-Neutral,288,420,1
197,Indian Institute of Technology Bombay,"Engineering Physics (4 Years, Bachelor of Tech...",AI,OPEN,Gender-Neutral,85,848,1
198,Indian Institute of Technology Bombay,"Engineering Physics (4 Years, Bachelor of Tech...",AI,OPEN,Female-only (including Supernumerary),900,1692,1
199,Indian Institute of Technology Bombay,"Engineering Physics (4 Years, Bachelor of Tech...",AI,OPEN (PwD),Gender-Neutral,17,17,1

In [46]:
IIT_Bhubaneswar = df[df["Institute"] == "Indian Institute of Technology Bhubaneswar"]

In [47]:
IIT_Bombay = df[df["Institute"] == "Indian Institute of Technology Bombay"]

In [48]:
IIT_Mandi = df[df["Institute"] == "Indian Institute of Technology Mandi"]

In [49]:
IIT_Delhi = df[df["Institute"] == "Indian Institute of Technology Delhi"]

In [50]:
IIT_Indore = df[df["Institute"] == "Indian Institute of Technology Indore"]

In [51]:
IIT_Kharagpur = df[df["Institute"] == "Indian Institute of Technology Kharagpur"]

In [52]:
IIT_Hyderabad = df[df["Institute"] == "Indian Institute of Technology Hyderabad"]

In [53]:
IIT_Jodhpur = df[df["Institute"] == "Indian Institute of Technology Jodhpur"]

In [54]:
IIT_Kanpur = df[df["Institute"] == "Indian Institute of Technology Kanpur"]

In [55]:
IIT_Madras = df[df["Institute"] == "Indian Institute of Technology Madras"]

In [56]:
IIT_Gandhinagar = df[df["Institute"] == "Indian Institute of Technology Gandhinagar"]

In [57]:
IIT_Patna = df[df["Institute"] == "Indian Institute of Technology patna"]

In [58]:
IIT_Roorkee = df[df["Institute"] == "Indian Institute of Technology Roorkee"]

In [59]:
IIT_Dhanbad = df[df["Institute"] == "Indian Institute of Technology (ISM) Dhanbad"]

In [60]:
IIT_Ropar = df[df["Institute"] == "Indian Institute of Technology Ropar"]

In [61]:
IIT_Varanasi = df[df["Institute"] == "Indian Institute of Technology (BHU) Varanasi"]

In [62]:
IIT_Guwahati = df[df["Institute"] == "Indian Institute of Technology Guwahati"]

In [63]:
IIT_Bhilai = df[df["Institute"] == "Indian Institute of Technology Bhilai"]

In [64]:
IIT_Goa = df[df["Institute"] == "Indian Institute of Technology Goa"]

In [65]:
IIT_Palakkad = df[df["Institute"] == "Indian Institute of Technology Palakkad"]

In [66]:
IIT_Tirupati = df[df["Institute"] == "Indian Institute of Technology Tirupati"]

In [67]:
IIT_Jammu = df[df["Institute"] == "Indian Institute of Technology Jammu"]

In [68]:
IIT_Dharwad= df[df["Institute"] == "Indian Institute of Technology Dharwad"]

In [69]:
df_list = [IIT_Bhilai,IIT_Bhubaneswar,IIT_Bombay,IIT_Delhi,IIT_Dhanbad,IIT_Dharwad,IIT_Gandhinagar,IIT_Goa,IIT_Guwahati,IIT_Hyderabad,
IIT_Indore,IIT_Jammu,IIT_Jodhpur,IIT_Kanpur,IIT_Kharagpur,IIT_Madras,IIT_Madras,IIT_Mandi,IIT_Palakkad,IIT_Patna,IIT_Roorkee,
IIT_Ropar,IIT_Tirupati,IIT_Varanasi]

In [70]:
IIT = pd.concat(df_list , axis=0 , ignore_index=True)

In [72]:
IIT["Year"] = 2018

In [73]:
IIT.to_csv("IIT_2018")

In [74]:
IIT.dtypes

Institute    object
Program      object
Quota        object
Seat Type    object
Gender       object
Opening       int64
Closing       int64
Round         int64
Year          int64
dtype: object