In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("2023.xlsx")

In [3]:
df.head(200)

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9462,12911,1
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16218,19272,1
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,1977,1
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3056,3056,1
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4014,4642,1
...,...,...,...,...,...,...,...,...
195,Indian Institute of Technology Bombay,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,Female-only (including Supernumerary),1478,1796,1
196,Indian Institute of Technology Bombay,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,Gender-Neutral,217,335,1
197,Indian Institute of Technology Bombay,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,Female-only (including Supernumerary),336,770,1
198,Indian Institute of Technology Bombay,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST (PwD),Gender-Neutral,8P,8P,1
199,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Gender-Neutral,1,66,1

In [4]:
IIT_Bhubaneswar = df[df["Institute"] == "Indian Institute of Technology Bhubaneswar"]

In [5]:
IIT_Bombay = df[df["Institute"] == "Indian Institute of Technology Bombay"]

In [6]:
IIT_Mandi = df[df["Institute"] == "Indian Institute of Technology Mandi"]

In [7]:
IIT_Delhi = df[df["Institute"] == "Indian Institute of Technology Delhi"]

In [8]:
IIT_Indore = df[df["Institute"] == "Indian Institute of Technology Indore"]

In [9]:
IIT_Kharagpur = df[df["Institute"] == "Indian Institute of Technology Kharagpur"]

In [10]:
IIT_Hyderabad = df[df["Institute"] == "Indian Institute of Technology Hyderabad"]

In [11]:
IIT_Jodhpur = df[df["Institute"] == "Indian Institute of Technology Jodhpur"]

In [12]:
IIT_Kanpur = df[df["Institute"] == "Indian Institute of Technology Kanpur"]

In [13]:
IIT_Madras = df[df["Institute"] == "Indian Institute of Technology Madras"]

In [14]:
IIT_Gandhinagar = df[df["Institute"] == "Indian Institute of Technology Gandhinagar"]

In [15]:
IIT_Patna = df[df["Institute"] == "Indian Institute of Technology patna"]

In [16]:
IIT_Roorkee = df[df["Institute"] == "Indian Institute of Technology Roorkee"]

In [17]:
IIT_Dhanbad = df[df["Institute"] == "Indian Institute of Technology (ISM) Dhanbad"]

In [18]:
IIT_Ropar = df[df["Institute"] == "Indian Institute of Technology Ropar"]

In [19]:
IIT_Varanasi = df[df["Institute"] == "Indian Institute of Technology (BHU) Varanasi"]

In [20]:
IIT_Guwahati = df[df["Institute"] == "Indian Institute of Technology Guwahati"]

In [21]:
IIT_Bhilai = df[df["Institute"] == "Indian Institute of Technology Bhilai"]

In [22]:
IIT_Goa = df[df["Institute"] == "Indian Institute of Technology Goa"]

In [23]:
IIT_Palakkad = df[df["Institute"] == "Indian Institute of Technology Palakkad"]

In [24]:
IIT_Tirupati = df[df["Institute"] == "Indian Institute of Technology Tirupati"]

In [25]:
IIT_Jammu = df[df["Institute"] == "Indian Institute of Technology Jammu"]

In [26]:
IIT_Dharwad= df[df["Institute"] == "Indian Institute of Technology Dharwad"]

In [27]:
df_list = [IIT_Bhilai,IIT_Bhubaneswar,IIT_Bombay,IIT_Delhi,IIT_Dhanbad,IIT_Dharwad,IIT_Gandhinagar,IIT_Goa,IIT_Guwahati,IIT_Hyderabad,
IIT_Indore,IIT_Jammu,IIT_Jodhpur,IIT_Kanpur,IIT_Kharagpur,IIT_Madras,IIT_Madras,IIT_Mandi,IIT_Palakkad,IIT_Patna,IIT_Roorkee,
IIT_Ropar,IIT_Tirupati,IIT_Varanasi]

In [28]:
IIT = pd.concat(df_list , axis=0 , ignore_index=True)

In [31]:
IIT["Year"]  = 2023

In [32]:
IIT.to_csv("IIT_2023")

In [33]:
IIT.dtypes

Institute    object
Program      object
Quota        object
Seat Type    object
Gender       object
Opening      object
Closing      object
Round         int64
Year          int64
dtype: object