In [32]:
import pandas as pd

In [33]:
df = pd.read_excel("2020.xlsx")

In [34]:
df.head(200)

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,6836,8816,1
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),13184,14366,1
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN (PwD),Gender-Neutral,56P,56P,1
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1297,1532,1
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),2410,2655,1
...,...,...,...,...,...,...,...,...
195,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,EWS (PwD),Gender-Neutral,4,4,1
196,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,OBC-NCL,Gender-Neutral,4,43,1
197,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,OBC-NCL,Female-only (including Supernumerary),31,293,1
198,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,OBC-NCL (PwD),Gender-Neutral,2,3,1
199,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,SC,Gender-Neutral,1,27,1

In [35]:
IIT_Bhubaneswar = df[df["Institute"] == "Indian Institute of Technology Bhubaneswar"]

In [36]:
IIT_Bombay = df[df["Institute"] == "Indian Institute of Technology Bombay"]

In [37]:
IIT_Mandi = df[df["Institute"] == "Indian Institute of Technology Mandi"]

In [38]:
IIT_Delhi = df[df["Institute"] == "Indian Institute of Technology Delhi"]

In [39]:
IIT_Indore = df[df["Institute"] == "Indian Institute of Technology Indore"]

In [40]:
IIT_Kharagpur = df[df["Institute"] == "Indian Institute of Technology Kharagpur"]

In [41]:
IIT_Hyderabad = df[df["Institute"] == "Indian Institute of Technology Hyderabad"]

In [42]:
IIT_Jodhpur = df[df["Institute"] == "Indian Institute of Technology Jodhpur"]

In [43]:
IIT_Kanpur = df[df["Institute"] == "Indian Institute of Technology Kanpur"]

In [44]:
IIT_Madras = df[df["Institute"] == "Indian Institute of Technology Madras"]

In [45]:
IIT_Gandhinagar = df[df["Institute"] == "Indian Institute of Technology Gandhinagar"]

In [46]:
IIT_Patna = df[df["Institute"] == "Indian Institute of Technology patna"]

In [47]:
IIT_Roorkee = df[df["Institute"] == "Indian Institute of Technology Roorkee"]

In [48]:
IIT_Dhanbad = df[df["Institute"] == "Indian Institute of Technology (ISM) Dhanbad"]

In [49]:
IIT_Ropar = df[df["Institute"] == "Indian Institute of Technology Ropar"]

In [50]:
IIT_Varanasi = df[df["Institute"] == "Indian Institute of Technology (BHU) Varanasi"]

In [51]:
IIT_Guwahati = df[df["Institute"] == "Indian Institute of Technology Guwahati"]

In [52]:
IIT_Bhilai = df[df["Institute"] == "Indian Institute of Technology Bhilai"]

In [53]:
IIT_Goa = df[df["Institute"] == "Indian Institute of Technology Goa"]

In [54]:
IIT_Palakkad = df[df["Institute"] == "Indian Institute of Technology Palakkad"]

In [55]:
IIT_Tirupati = df[df["Institute"] == "Indian Institute of Technology Tirupati"]

In [56]:
IIT_Jammu = df[df["Institute"] == "Indian Institute of Technology Jammu"]

In [57]:
IIT_Dharwad= df[df["Institute"] == "Indian Institute of Technology Dharwad"]

In [58]:
df_list = [IIT_Bhilai,IIT_Bhubaneswar,IIT_Bombay,IIT_Delhi,IIT_Dhanbad,IIT_Dharwad,IIT_Gandhinagar,IIT_Goa,IIT_Guwahati,IIT_Hyderabad,
IIT_Indore,IIT_Jammu,IIT_Jodhpur,IIT_Kanpur,IIT_Kharagpur,IIT_Madras,IIT_Madras,IIT_Mandi,IIT_Palakkad,IIT_Patna,IIT_Roorkee,
IIT_Ropar,IIT_Tirupati,IIT_Varanasi]

In [59]:
IIT = pd.concat(df_list , axis=0 , ignore_index=True)

In [61]:
IIT["Year"] = 2020

In [62]:
IIT.to_csv("IIT_2020")

In [63]:
IIT.dtypes

Institute    object
Program      object
Quota        object
Seat Type    object
Gender       object
Opening      object
Closing      object
Round         int64
Year          int64
dtype: object