In [33]:
import pandas as pd

In [34]:
df = pd.read_excel("2019.xlsx")

In [35]:
df.head(200)

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,6546,7720,1.0
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),11238,13803,1.0
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN (PwD),Gender-Neutral,119P,119P,1.0
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,736,770,1.0
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),1694,1694,1.0
...,...,...,...,...,...,...,...,...
195,Indian Institute of Technology Bombay,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN,Gender-Neutral,71,292,1.0
196,Indian Institute of Technology Bombay,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN,Female-only (including Supernumerary),697,1058,1.0
197,Indian Institute of Technology Bombay,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,10,10,1.0
198,Indian Institute of Technology Bombay,"Electrical Engineering (4 Years, Bachelor of T...",AI,EWS,Gender-Neutral,21,24,1.0
199,Indian Institute of Technology Bombay,"Electrical Engineering (4 Years, Bachelor of T...",AI,OBC-NCL,Gender-Neutral,60,174,1.0

In [36]:
IIT_Bhubaneswar = df[df["Institute"] == "Indian Institute of Technology Bhubaneswar"]

In [37]:
IIT_Bombay = df[df["Institute"] == "Indian Institute of Technology Bombay"]

In [38]:
IIT_Mandi = df[df["Institute"] == "Indian Institute of Technology Mandi"]

In [39]:
IIT_Delhi = df[df["Institute"] == "Indian Institute of Technology Delhi"]

In [40]:
IIT_Indore = df[df["Institute"] == "Indian Institute of Technology Indore"]

In [41]:
IIT_Kharagpur = df[df["Institute"] == "Indian Institute of Technology Kharagpur"]

In [42]:
IIT_Hyderabad = df[df["Institute"] == "Indian Institute of Technology Hyderabad"]

In [43]:
IIT_Jodhpur = df[df["Institute"] == "Indian Institute of Technology Jodhpur"]

In [44]:
IIT_Kanpur = df[df["Institute"] == "Indian Institute of Technology Kanpur"]

In [45]:
IIT_Madras = df[df["Institute"] == "Indian Institute of Technology Madras"]

In [46]:
IIT_Gandhinagar = df[df["Institute"] == "Indian Institute of Technology Gandhinagar"]

In [47]:
IIT_Patna = df[df["Institute"] == "Indian Institute of Technology patna"]

In [48]:
IIT_Roorkee = df[df["Institute"] == "Indian Institute of Technology Roorkee"]

In [49]:
IIT_Dhanbad = df[df["Institute"] == "Indian Institute of Technology (ISM) Dhanbad"]

In [50]:
IIT_Ropar = df[df["Institute"] == "Indian Institute of Technology Ropar"]

In [51]:
IIT_Varanasi = df[df["Institute"] == "Indian Institute of Technology (BHU) Varanasi"]

In [52]:
IIT_Guwahati = df[df["Institute"] == "Indian Institute of Technology Guwahati"]

In [53]:
IIT_Bhilai = df[df["Institute"] == "Indian Institute of Technology Bhilai"]

In [54]:
IIT_Goa = df[df["Institute"] == "Indian Institute of Technology Goa"]

In [55]:
IIT_Palakkad = df[df["Institute"] == "Indian Institute of Technology Palakkad"]

In [56]:
IIT_Tirupati = df[df["Institute"] == "Indian Institute of Technology Tirupati"]

In [57]:
IIT_Jammu = df[df["Institute"] == "Indian Institute of Technology Jammu"]

In [58]:
IIT_Dharwad= df[df["Institute"] == "Indian Institute of Technology Dharwad"]

In [59]:
df_list = [IIT_Bhilai,IIT_Bhubaneswar,IIT_Bombay,IIT_Delhi,IIT_Dhanbad,IIT_Dharwad,IIT_Gandhinagar,IIT_Goa,IIT_Guwahati,IIT_Hyderabad,
IIT_Indore,IIT_Jammu,IIT_Jodhpur,IIT_Kanpur,IIT_Kharagpur,IIT_Madras,IIT_Madras,IIT_Mandi,IIT_Palakkad,IIT_Patna,IIT_Roorkee,
IIT_Ropar,IIT_Tirupati,IIT_Varanasi]

In [60]:
IIT = pd.concat(df_list , axis=0 , ignore_index=True)

In [61]:
IIT["Year"] = 2019

In [62]:
IIT.to_csv("IIT_2019")

In [63]:
IIT.dtypes

Institute     object
Program       object
Quota         object
Seat Type     object
Gender        object
Opening       object
Closing       object
Round        float64
Year           int64
dtype: object