In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("2022.xlsx")

In [3]:
df.head(200)

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9193,11771,1.0,2022
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16138,20164,1.0,2022
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1605,1744,1.0,2022
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3159,3159,1.0,2022
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,3997,4297,1.0,2022
...,...,...,...,...,...,...,...,...,...
195,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,OBC-NCL,Female-only (including Supernumerary),29,136,1.0,2022
196,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,OBC-NCL (PwD),Gender-Neutral,1,2,1.0,2022
197,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,OBC-NCL (PwD),Female-only (including Supernumerary),45,45,1.0,2022
198,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,SC,Gender-Neutral,1,22,1.0,2022
199,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,SC,Female-only (including Supernumerary),63,107,1.0,2022

In [4]:
IIT_Bhubaneswar = df[df["Institute"] == "Indian Institute of Technology Bhubaneswar"]

In [5]:
IIT_Bombay = df[df["Institute"] == "Indian Institute of Technology Bombay"]

In [6]:
IIT_Mandi = df[df["Institute"] == "Indian Institute of Technology Mandi"]

In [7]:
IIT_Delhi = df[df["Institute"] == "Indian Institute of Technology Delhi"]

In [8]:
IIT_Indore = df[df["Institute"] == "Indian Institute of Technology Indore"]

In [9]:
IIT_Kharagpur = df[df["Institute"] == "Indian Institute of Technology Kharagpur"]

In [10]:
IIT_Hyderabad = df[df["Institute"] == "Indian Institute of Technology Hyderabad"]

In [11]:
IIT_Jodhpur = df[df["Institute"] == "Indian Institute of Technology Jodhpur"]

In [12]:
IIT_Kanpur = df[df["Institute"] == "Indian Institute of Technology Kanpur"]

In [13]:
IIT_Madras = df[df["Institute"] == "Indian Institute of Technology Madras"]

In [14]:
IIT_Gandhinagar = df[df["Institute"] == "Indian Institute of Technology Gandhinagar"]

In [15]:
IIT_Patna = df[df["Institute"] == "Indian Institute of Technology patna"]

In [16]:
IIT_Roorkee = df[df["Institute"] == "Indian Institute of Technology Roorkee"]

In [17]:
IIT_Dhanbad = df[df["Institute"] == "Indian Institute of Technology (ISM) Dhanbad"]

In [18]:
IIT_Ropar = df[df["Institute"] == "Indian Institute of Technology Ropar"]

In [19]:
IIT_Varanasi = df[df["Institute"] == "Indian Institute of Technology (BHU) Varanasi"]

In [20]:
IIT_Guwahati = df[df["Institute"] == "Indian Institute of Technology Guwahati"]

In [21]:
IIT_Bhilai = df[df["Institute"] == "Indian Institute of Technology Bhilai"]

In [22]:
IIT_Goa = df[df["Institute"] == "Indian Institute of Technology Goa"]

In [23]:
IIT_Palakkad = df[df["Institute"] == "Indian Institute of Technology Palakkad"]

In [24]:
IIT_Tirupati = df[df["Institute"] == "Indian Institute of Technology Tirupati"]

In [25]:
IIT_Jammu = df[df["Institute"] == "Indian Institute of Technology Jammu"]

In [26]:
IIT_Dharwad= df[df["Institute"] == "Indian Institute of Technology Dharwad"]

In [27]:
df_list = [IIT_Bhilai,IIT_Bhubaneswar,IIT_Bombay,IIT_Delhi,IIT_Dhanbad,IIT_Dharwad,IIT_Gandhinagar,IIT_Goa,IIT_Guwahati,IIT_Hyderabad,
IIT_Indore,IIT_Jammu,IIT_Jodhpur,IIT_Kanpur,IIT_Kharagpur,IIT_Madras,IIT_Madras,IIT_Mandi,IIT_Palakkad,IIT_Patna,IIT_Roorkee,
IIT_Ropar,IIT_Tirupati,IIT_Varanasi]

In [28]:
IIT = pd.concat(df_list , axis=0 , ignore_index=True)

In [31]:
IIT["Year"] = 2022

In [32]:
IIT.to_csv("IIT_2022")

In [33]:
IIT.dtypes

Institute     object
Program       object
Quota         object
Seat Type     object
Gender        object
Opening       object
Closing       object
Round        float64
Year           int64
dtype: object