In [1]:
import pandas as pd

In [9]:
l1 = pd.read_csv("IIT_Training")

In [15]:
l1 = l1.drop(columns=["Unnamed: 0.1","Unnamed: 0"])

In [16]:
l2 = pd.read_csv("IIT_2023")

In [19]:
l2.drop(columns="Unnamed: 0",inplace=True)

In [20]:
df_list = [l1,l2]

In [23]:
df = pd.concat(df_list)

In [24]:
df

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
0,Indian Institute of Technology Bhilai,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Gender-Neutral,3702,4752,1.0,2018
1,Indian Institute of Technology Bhilai,"Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Female-only (including Supernumerary),6179,7652,1.0,2018
2,Indian Institute of Technology Bhilai,"Computer Science and Engineering (4 Years, Bac...",AI,OBC-NCL,Gender-Neutral,1018,1832,1.0,2018
3,Indian Institute of Technology Bhilai,"Computer Science and Engineering (4 Years, Bac...",AI,OBC-NCL,Female-only (including Supernumerary),3272,3649,1.0,2018
4,Indian Institute of Technology Bhilai,"Computer Science and Engineering (4 Years, Bac...",AI,SC,Gender-Neutral,807,1051,1.0,2018
...,...,...,...,...,...,...,...,...,...
3061,Indian Institute of Technology (BHU) Varanasi,Pharmaceutical Engineering & Technology (5 Yea...,AI,OBC-NCL,Gender-Neutral,5358,5400,1.0,2023
3062,Indian Institute of Technology (BHU) Varanasi,Pharmaceutical Engineering & Technology (5 Yea...,AI,OBC-NCL,Female-only (including Supernumerary),8782,8782,1.0,2023
3063,Indian Institute of Technology (BHU) Varanasi,Pharmaceutical Engineering & Technology (5 Yea...,AI,SC,Gender-Neutral,2959,2988,1.0,2023
3064,Indian Institute of Technology (BHU) Varanasi,Pharmaceutical Engineering & Technology (5 Yea...,AI,SC,Female-only (including Supernumerary),4308,4308,1.0,2023
3065,Indian Institute of Technology (BHU) Varanasi,Pharmaceutical Engineering & Technology (5 Yea...,AI,ST,Gender-Neutral,1397,1405,1.0,2023

In [25]:
df.shape

(82149, 9)