In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("IIT_Training_Data")

In [3]:
df = df.drop(columns=["Unnamed: 0"])

In [4]:
df

,Institute,Quota,Seat Type,Gender,Opening,Closing,Round,Year,Duration,Degree,Branch,Avg_ranking
0,Indian Institute of Technology Bombay,AI,OPEN,Gender-Neutral,1040,1974,1.0,2018,4 Years,Bachelor of Technology,Aerospace Engineering,4227.0
1,Indian Institute of Technology Bombay,AI,OPEN,Female-only (including Supernumerary),1425,3605,1.0,2018,4 Years,Bachelor of Technology,Aerospace Engineering,6915.5
2,Indian Institute of Technology Bombay,AI,OPEN (PwD),Gender-Neutral,20,20,1.0,2018,4 Years,Bachelor of Technology,Aerospace Engineering,1425.0
3,Indian Institute of Technology Bombay,AI,OBC-NCL,Gender-Neutral,703,1037,1.0,2018,4 Years,Bachelor of Technology,Aerospace Engineering,3460.5
4,Indian Institute of Technology Bombay,AI,OBC-NCL,Female-only (including Supernumerary),1161,1185,1.0,2018,4 Years,Bachelor of Technology,Aerospace Engineering,929.0
...,...,...,...,...,...,...,...,...,...,...,...,...
71545,Indian Institute of Technology Delhi,AI,OBC-NCL,Female-only (including Supernumerary),5898,7164,6.0,2022,4 Years,Bachelor of Technology,Textile Technology,1874.5
71546,Indian Institute of Technology Delhi,AI,SC,Gender-Neutral,1424,1759,6.0,2022,4 Years,Bachelor of Technology,Textile Technology,4550.0
71547,Indian Institute of Technology Delhi,AI,SC,Female-only (including Supernumerary),2606,2873,6.0,2022,4 Years,Bachelor of Technology,Textile Technology,133.0
71548,Indian Institute of Technology Delhi,AI,ST,Gender-Neutral,995,1093,6.0,2022,4 Years,Bachelor of Technology,Textile Technology,323.0
71549,Indian Institute of Technology Delhi,AI,ST,Female-only (including Supernumerary),960,960,6.0,2022,4 Years,Bachelor of Technology,Textile Technology,851.0

In [11]:
df.dtypes

Institute       object
Quota           object
Seat Type       object
Gender          object
Opening          int32
Closing          int32
Round          float64
Year             int64
Duration        object
Degree          object
Branch          object
Avg_ranking    float64
dtype: object

In [7]:
def convert(value):
    if type(value) == str:
        value = value.strip('P')
        value= float(value)
    return float(value)

In [8]:
for i in range(0,len(df["Opening"])):
    
    df["Opening"][i] = convert(df["Opening"][i])
    
     
    
for i in range(0,len(df["Closing"])):
    
    df["Closing"][i] = convert(df["Closing"][i])

C:\Users\riya\AppData\Local\Temp\ipykernel_5028\2661005575.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Opening"][i] = convert(df["Opening"][i])
C:\Users\riya\AppData\Local\Temp\ipykernel_5028\2661005575.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Closing"][i] = convert(df["Closing"][i])

In [9]:
df["Closing"] = df["Closing"].astype(int)
df["Opening"] = df["Opening"].astype(int)

In [10]:
df.to_csv("training")