In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("IIT_Testing_Data")

In [8]:
df = df.drop(columns=["Unnamed: 0"])

In [9]:
df

,Institute,Quota,Seat Type,Gender,Opening,Closing,Round,Year,Duration,Degree,Branch,Avg_ranking
0,Indian Institute of Technology Bombay,AI,OPEN,Gender-Neutral,772,2568,1,2023,4 Years,Bachelor of Technology,Aerospace Engineering,4420.0
1,Indian Institute of Technology Bombay,AI,OPEN,Female-only (including Supernumerary),2697,4628,1,2023,4 Years,Bachelor of Technology,Aerospace Engineering,8705.0
2,Indian Institute of Technology Bombay,AI,OPEN (PwD),Gender-Neutral,49,49,1,2023,4 Years,Bachelor of Technology,Aerospace Engineering,127.0
3,Indian Institute of Technology Bombay,AI,OPEN (PwD),Female-only (including Supernumerary),104,104,1,2023,4 Years,Bachelor of Technology,Aerospace Engineering,771.5
4,Indian Institute of Technology Bombay,AI,EWS,Gender-Neutral,449,614,1,2023,4 Years,Bachelor of Technology,Aerospace Engineering,1808.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2673,Indian Institute of Technology Delhi,AI,OBC-NCL,Female-only (including Supernumerary),5742,6280,1,2023,4 Years,Bachelor of Technology,Textile Technology,7761.0
2674,Indian Institute of Technology Delhi,AI,SC,Gender-Neutral,1460,1771,1,2023,4 Years,Bachelor of Technology,Textile Technology,1659.5
2675,Indian Institute of Technology Delhi,AI,SC,Female-only (including Supernumerary),2722,2769,1,2023,4 Years,Bachelor of Technology,Textile Technology,2578.0
2676,Indian Institute of Technology Delhi,AI,ST,Gender-Neutral,840,984,1,2023,4 Years,Bachelor of Technology,Textile Technology,1220.0
2677,Indian Institute of Technology Delhi,AI,ST,Female-only (including Supernumerary),1578,1578,1,2023,4 Years,Bachelor of Technology,Textile Technology,4645.5

In [17]:
df.dtypes

Institute       object
Quota           object
Seat Type       object
Gender          object
Opening          int32
Closing          int32
Round            int64
Year             int64
Duration        object
Degree          object
Branch          object
Avg_ranking    float64
dtype: object

In [14]:
def convert(value):
    if type(value) == str:
        value = value.strip('P')
        value= float(value)
    return float(value)

In [15]:
for i in range(0,len(df["Opening"])):
    
    df["Opening"][i] = convert(df["Opening"][i])
    
     
    
for i in range(0,len(df["Closing"])):
    
    df["Closing"][i] = convert(df["Closing"][i])

C:\Users\riya\AppData\Local\Temp\ipykernel_4608\2661005575.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Opening"][i] = convert(df["Opening"][i])
C:\Users\riya\AppData\Local\Temp\ipykernel_4608\2661005575.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Closing"][i] = convert(df["Closing"][i])

In [16]:
df["Closing"] = df["Closing"].astype(int)
df["Opening"] = df["Opening"].astype(int)

In [18]:
df.to_csv("testing")